.container{
    width: 100%;
    border-bottom: 1px solid grey;
    display: inline-block;
    height: 150px;
    .leftRow{
       width: 30%;
       height: 100%;
       float: left;
       display: flex;
       justify-content: center;
       *{
           margin: 20px 5%;
           width: 40%;
           display: inline-block;
           float: left;
       }
        img{
            width: 20%;
            margin: 20px 15%;
            height: 40px;
            float: left;
            
        }  
}
    .bagNav{
        display:flex;
        justify-content: space-around;
        width: 60%;
        height: inherit;
        margin: 0 5%;
        
        .bagNavblock {
            display:flex;
            position: relative;
            width: 30%;
            span{
                width: 130px;
                position: absolute;
                top:65%;
                margin: 0;
            }
            .bagNavElement{
                border: 1px solid black;
                border-radius: 50%;
                padding: 7px 14px;
                height: 35px;
                margin-top: 50px;
            }
            .bagNavElement::before{
                border: 1px dashed lightgray;
                width:60%;
                content:'';
                display:inline-block;
                position: absolute;
                top: 65px;
                left: 60px;
            }
            .beforeLast::before{
                content:'';
                border: none;
                display: none;
            }
        }
    
    }
    .bagNavblockActive {
        display:flex;
        position: relative;
        width: 30%;
        *{
            font-weight: bold;
            size: 20px;
            
        }
        span{
            width: 130px;
                position: absolute;
                top:65%;
                margin: 0;
        }
        .bagNavElement{
            border: 2px solid black;
            border-radius: 50%;
            padding: 7px 14px;
            height: 40px;
            margin-top: 50px;
        }
        .bagNavElement::before{
            border: 1px dashed black;
            width:60%;
            content:'';
            display:inline-block;
            position: absolute;
            top: 65px;
            left: 60px;
        }
        .beforeLast::before{
            content:'';
            border: none;
            display: none;
        }
    }    
}

@media screen and (max-width: 770px) {
    .container{
        width: 100%;
        border-bottom: 1px solid grey;
        display: inline-block;
        height: 150px;
        .leftRow{
           width: 30%;
           height: 100%;
           float: left;
           display: flex;
           justify-content: center;
           *{
               margin: 20px 0;
               display: inline-block;
               float: left;
               height: 40px;
           }
            img{
                width: 35px;
                height: 40px;
                float: left;
                margin-left: 10px;
            }  
    }
        .bagNav{
            
            .bagNavblock {
             
                .bagNavElement::before{
                    border: 1px dashed lightgray;
                    width:30%;
                    content:'';
                    display:inline-block;
                    position: absolute;
                    top: 65px;
                    left: 60px;
                }
                .beforeLast::before{
                    content:'';
                    border: none;
                    display: none;
                }
                
            }
        
        }
        .bagNavblockActive {  
            .bagNavElement::before{
                border: 1px dashed black;
                width:30%;
                content:'';
                display:inline-block;
                position: absolute;
                top: 65px;
                left: 60px;
            }
            
        }    
    }
}

@media screen and (max-width: 420px) {
    .container{
        width: 100%;
        border-bottom: 1px solid grey;
        display: inline-block;
        height: auto;
        .leftRow{
            width: 100%;
            height: 100%;
            float: left;
            display: flex;
            justify-content: center;
            *{
                margin: 20px 5%;
                width: 40%;
                display: inline-block;
                float: left;
            }
             img{
                 width: 10%;
                 margin: 20px 20%;
                 height: 40px;
                 float: left;
                 
             }  
    }
        .bagNav{
            margin: 0;
            padding: 0;
            display:flex;
            width: 100%;
            height: 100px;
            
            .bagNavblock {
                display:flex;
                position: relative;
                width: 100%;
                padding-left: 10px; 
                margin: 0;
                span{
                    width: 90%;
                    position: absolute;
                    top:55%;
                    left: 5%;
                    font-size: 13px;
                }
                .bagNavElement{
                    border: 1px solid black;
                    border-radius: 50%;
                    padding: 7px 14px;
                    height: 35px;
                    margin-top: 10px;
                }
                .bagNavElement::before{
                    border: 1px dashed lightgray;
                    width:30%;
                    content:'';
                    display:inline-block;
                    position: absolute;
                    top: 30px;
                    left: 60px;
                }
                .beforeLast::before{
                    content:'';
                    border: none;
                    display: none;
                }
            }
        
        }
        .bagNavblockActive {
            display:flex;
            position: relative;
            width: 100%;
            padding-left: 10px;
            *{
                font-weight: bold;
                size: 20px;
            }
            span{
                width: 95%;
                position: absolute;
                top:55%;
                left: 5%;
                font-size: 13px;
            }
            .bagNavElement{
                border: 2px solid black;
                border-radius: 50%;
                padding: 10px 14px;
                height: 40px;
                margin-top: 10px;
            }
            .bagNavElement::before{
                border: 1px dashed black;
                width:30%;
                content:'';
                display:inline-block;
                position: absolute;
                top: 30px;
                left: 60px;
            }
            .beforeLast::before{
                content:'';
                border: none;
                display: none;
            }
        }    
    }
}