
@import '../../Sass/index.scss';

.link{
     @include no-select;
     @include btn;
    line-height: 15px;
    font-size: 12px;
    width: 30%;
    margin:5px 0;
    padding: 2px; 
    }
     
.dropdown{
display: none;
width: 20%;
}
.active{
    display: none;
width: 20%;
}
.selected{
    display:none;
}


@media screen and (max-width: 420px) {

.dropdown{
display: inline-block;
width: 100%;
background-color:white;
 @include no-select;
}
.active{
    display: inline-block;
    width: 100%;
    background-color:white;
     @include no-select;
     *{
        @include no-select;
        &:focus{
            outline:none;
        }
     }
}
    .selected{
        display: inline-block;
        width: 100%;
        border: 1px solid $basicOrangecolor;
        border-radius: 4px;
        padding: 10px 10px 10px 50px ;
        position: relative;
        background-color:white;
         
    }
       .selected img{
            width: 30px;
            height: 30px;
            position: absolute;
            top: 5px;
            left: 5px;
        } 

    .options {
        border: 1px solid $secondColor;
        display: none;
        width: 100%;
        border-radius: 4px;
        text-decoration:none;
        text-align:center;
        color:black;
        background-color:white;
    }    
        .options * {
            border-bottom: 1px solid $secondColor;
            cursor: pointer;
        }
        .options *:hover {
            background-color:$secondColor;
        }
        .active  .options {
            display: inline-block;
        }
        .active  .selected{
            border: 2px solid $secondColor;
        }
        .active  .selected  .selector {
            background-color: $secondColor;
        }
}
