.btn{
    display: inline-block;
    background-color: white;
    line-height: 25px;
    border-radius: 15px;
    cursor: pointer;
    width:100px;
    text-align: center;
    border: 1px solid grey;
    position: absolute;
    bottom: 5px;
    right: 5px;
}