@import '../../Sass//bottons';

.container{
    display:inline-block;
    width: 70%;
    margin: 0 calc((100% - 70% ) /2 );
    margin-top: 40px;
}
.block{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    *{
        float: left;
        padding: 10px;
        width: 70px;
        margin-left: 20px;
        
    }
    h3{
        
        width: 200px;
    }
    .size{
        width: 80px;
    }
    .totalPrice{
       
    }
        
        img{
            display: inline-block;
            width: 9%;
            height: auto;
        }
    
        .counterBlock{
            display: flex;
            justify-content: space-evenly;
            width: 350px;
            flex-wrap:wrap;
            margin: 0;
           padding: 0!important;
            .plusMinus{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: orange;
            font-weight: 400;
            font-size: 40px;
            margin: 0;
            cursor: pointer;
            }
            .plusMinus:hover{
                background-color: orangered;
            }
            .amount{
               
                font-size:15px;
            }
            span{
                padding: 0;
                margin: -20px -2px;
            }
        }
        }

.total{
    display: inline-block;
    float: right;
    width: 100%;
    border-bottom: 1px solid grey;
}
.total *{
    display: inline-block;
    text-align: right;
    width: 100%;
    padding: 0;
    margin: 0;
    float: left;
    
}
.btn{
    @include btn;
    float: left;
}

.btn:hover{
background-color: orangered
}

.btn1{
    @include btnPasirinkti;
    padding: 5px;
}


@media screen and (max-width: 736px) {

    .container{
        display:inline-block;
        width: 90%;
        margin: 0 calc((100% - 90% ) /2 );
        margin-top: 40px;
    }
    .block{
       
        *{
            float: left;
            padding: 10px;
        }
        h3{
            
            width: 150px;
        }
        .size{
            width:60px;
        }
            .counterBlock{
                width: 200px;
               
                .plusMinus{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: orange;
                font-weight: 400;
                font-size: 40px;
                margin: 0;
                }
            }
        }

}

@media screen and (max-width: 420px) {

    .container{
       width: 100%;
       margin: 0;
    }
    .block{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    *{
        margin: 0;
    }
        
        h3{
            width: 70px;
            font-size: 12px;
            height: auto;
        }
        .size{
            width: 18%;
            font-size: 15px;
            font-size: 12px;
        }
        .totalPrice{
            font-size: 15px;
            width: 17%;
            font-size: 12px;
        }
            
            img{
                width: 15%;
                height: 50px;
            }
        
            .counterBlock{
            display: flex;
            justify-content: space-around;
            width: 110px;
            flex-wrap:wrap;
            padding: 0 !important;
            margin-top: 10px !important;
                .plusMinus{
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: orange;
                font-weight: 300;
                font-size: 12px;
                cursor: pointer;
                padding-top: 10px;
                z-index: 0.5;
                }
                .amount{
                    padding-top: 1px;
                    font-size: 10px;
                    padding: 0;
                    margin: 0;
                    width: auto;
                }
                span{
                    padding: 0;
                    margin: -11px -4px;
                    font-size: 15px;
                    width: 10px;
                    height: auto;
                }
            }
            }
    
    .total{
        display: inline-block;
        float: right;
        width: 100%;
        border-bottom: 1px solid grey;
        
    }
    .total *{
        display: inline-block;
        text-align: right;
        width: 100%;
        padding: 0;
        margin: 0;
        float: left;
        font-size: 12px;
    }    
    
    .btnBlock{
        display: inline-block;
        width: 100%;
        margin: 0;
        padding: 0;
        height: auto;
        *{
            font-size: 12px;
            padding: 0;
        }
        .btn1{
            @include btnPasirinkti;
            
            
        }
    }
    
}