@import '../../Sass/vars';
@import '../../Sass//bottons';

.Block{
    display: inline-block;
    width: auto;
    .itemsBlock{
        display: inline-block;
        margin: 0 calc( 10% / 2 );
        width: 90%;
            .items {
                display: inline-block;
                float: left;
                width: 210px;
                height: 350px;
                text-align: center;
                position: relative;
                border: 1px solid transparent;
            }
                h3{
                    width: 100%;
                    font-weight: 500;
                    display: inline-block;
                    margin: 10px 0 10px 0;
                    text-align:center;
                    font-size: 20px;
                    height: 60px;
                }
                .price{
                    display: inline-block;
                    width: 100%;
                    line-height: 25px;
                    font-size: 18px;
                }
                .btn{
                    line-height: 40px;
                    margin-top: 5px;
                    @include btnPasirinkti;
                    
                }
                img{
                    width: 150px;
                    height: auto;
                    padding: 10px;
                }
                
            
        
    }
}
@media screen and (max-width: 736px) {
    body{
        width: 100% !important;
        margin:0 0 !important;
    
        background-color: red;
    
    .Block {
      background-color: olive;
      margin:0 0 !important;
      width: inherit;
      *{
        font-size:15px;
        text-align: center;
      }
    }

}}
