.modal{
    position: fixed;
    left: 50%;
    top: 50%;
    border-radius: 5px;
    transform:translate(-50%,-50%);
    padding: 20px 40px;
    text-align: center;
    z-index: 3;
    background-color: white;
    width:800px;
    height: 500px;
}

    .backdrop{
        width: 100%;
        height: 100vh;
        background: rgba(230, 222, 222, 0.4);
        position: fixed;
        left: 0;
        top: 0;
        z-index: 2;
    }
.selectedItem{
    width: 40%;
    float: right;
    display: inline-block;
    height: 100%;
    position: relative;
    p{
            width:100%;
            margin:10% 0;
            word-break: keep-all;
    }
}

        .sizes{
            display: inline-block;
            width: 100%;
            float: left;
            cursor: pointer;
            border-radius: 15px;
            background-color: rgb(233, 232, 232);
            height: 45px;
            padding-right: 1px;
        *{
            width: 32%;
            border-radius: 15px;
            border: 1px solid white;
            line-height: 20px;
            margin: 2px 0 0px 2px;
            padding: 8px 0 12px;
            display: inline-block;
            float: left;
        }
            .selectSize{
                background-color: rgb(233, 232, 232);
                border: 1px solid  rgb(233, 232, 232);
            }
            .selectedSize{
                background-color: white;
            }  
    }

        
    
    .block {
        display: block;
        width: 100%;
        float: right;
        position: absolute;
        bottom: 0;
        left: 0;
        *{
            margin: 10px 0; 
            display: inline-block;
        }
        
        h3 {
            float: left;
            padding-left: 10px;
            width: 20%;
           
        }
        .btn{
            background-color: white;
            line-height: 25px;
            border-radius: 15px;
            cursor: pointer;
            width:100px;
            text-align: center;
            border: 1px solid grey;
            float: right;
        }
        .btn:hover{
            background-color: orange;
        }
        
    }
    
    .imgBlock{
        width: 59%;
        height: 100%;
        margin: 0;
        padding: 0;
        float: left;
        display: flex;
        
        img{
            margin: auto;
            transition: 1s;
        }
    }
       
    @media screen and (max-width: 770px) {
        .modal{
            position: fixed;
            left: 50%;
            top: 50%;
            border-radius: 5px;
            transform:translate(-50%,-50%);
            padding: 20px 40px;
            text-align: center;
            z-index: 3;
            background-color: white;
            width: 600px;
            height: 500px;
        }
        
        
            
            .imgBlock{
                width: 59%;
                height: 100%;
                margin: 0;
                padding: 0;
                float: left;
                display: flex;
            
                *{
                    width: 210px !important;
                }
            }
            
    }
    @media screen and (max-width: 420px) {
        .modal{
            position: fixed;
            left: 50%;
            top: 50%;
            border-radius: 5px;
            transform:translate(-50%,-50%);
            padding: 10px 20px;
            text-align: center;
            z-index: 3;
            background-color: white;
            width: 320px;
            height: 250px;
            *{
            font-size: 12px;
            }
        }
        
        .selectedItem{
            width: 50%;
            float: right;
            display: inline-block;
            height: 100%;
            position: relative;
            
            p{
                    width:100%;
                    margin:5% 0;
                    word-break: keep-all;
                    font-size: 10px;
            }
        }
        
                .sizes{
                    display: inline-block;
                    width: 99%;
                    float: left;
                    cursor: pointer;
                    border-radius: 5px;
                    background-color: rgb(233, 232, 232);
                    height: auto;
                    padding-right: 1px;
                    
                *{
                    width: 30%;
                    border-radius: 5px;
                    border: 1px solid white;
                    line-height: 10px;
                    margin: 2px 0 2px 3%;
                    display: inline-block;
                    float: left;
                    font-size: 12px;
                    height: auto;
                }

                    .selectSize{
                        background-color: rgb(233, 232, 232);
                        border: 1px solid  rgb(233, 232, 232);
                    }
                    .selectedSize{
                        background-color: white;
                        font-size: 10px;
                        
                    }  
                }
        
        .block {
           
            .btn{
                background-color: white;
                line-height: 15px;
                border-radius: 5px;
                cursor: pointer;
                width:60px;
                text-align: center;
                float: right;
            }
            
            
        }
        
            
            .imgBlock{
                width: 50%;
                height: 100%;
                margin: 0;
                padding: 0;
                float: left;
                display: flex;
                *{
                    width: 110px !important;
                    transition: 1s;
                }
            }
    }
    