@import '../../Sass//bottons';
@import '../../Sass//vars';
.container{
    width: 100%;
    height: 100vh;
    display: inline-block;
    position: relative;
    
    .bothSides{
        width: 100%;
        border-bottom: 1px solid grey;
        display: flex;
        position: relative;
    .toTheRightSide{
        display: inline-block;
        float: left;
        width: 60%;
        
         * {
            width: 100%;
            display: inline-block;
            float: left;
            text-align: center;
        }
        
        span{
            width: 50%;
        }
        .nameBlock{
            width: 50%;
            
        input{
                width: 30%; 
                border: 1px solid grey;
                border-radius: 5px;
                margin: 0;
                padding: 0;
                line-height: 35px;
            }
            button{
                @include btn;
                float: left;
                line-height: 35px;
                margin: 0;
                border:none;
                width: 60px;
                
            }
        }
        h3{
            margin: 0;
            padding: 0;
            width: 30%; 
            border: 1px solid grey;
            border-radius: 5px;
        }
        
        h4{
            width: 100%;
        }
        
         .delivery{
            display: inline-block;
            margin: 20px 0;
        }
        .deliveryblock{
            
            width: 80%;
            *{
                float: left;
                width: 50%;
                display: inline-block;
            }
            
        }
        .userBlock{
            display: inline-block;
            margin: 20px 0;
        }
    }
    .toTheleftSide{
        display: inline-block;
        float: right;
        width: 39%;
         * {
            display: inline-block;
            text-align: center;
        }
        h2{
            margin: 10px 0;
            text-align: center;
        }
        
        img{
            width: 15%;
            height: auto;
        }
        h3{
            float: right;
            margin-right: 20px;
        }
        .h3{
            margin-top: 20px;
        }

        
        .item{
            width: 100%;
            *{
                float: left;
            }
        } 
    }
    
    }
    .btn{
        @include btn;
        border:none;
        width: 150px;
    }}