@import '../../Sass//bottons';
@import '../../Sass//vars';
.container{
    width: 100%;
    height: 100vh;
    display: inline-block;
    position: relative;
    
    .bothSides{
        width: 100%;
        border-bottom: 1px solid grey;
        display: flex;
        position: relative;
    .toTheRightSide{
        display: inline-block;
        float: left;
        width: 60%;
        
         * {
            width: 100%;
            display: inline-block;
            float: left;
            text-align: center;
        }
        
        span{
            width: 50%;
        }
        .nameBlock{
            width: 50%;
            
        input{
                width: 30%; 
                border: 1px solid grey;
                border-radius: 5px;
                margin: 0;
                padding: 0;
                line-height: 35px;
            }
            button{
                @include btn;
                float: left;
                line-height: 35px;
                margin: 0;
                border:none;
                width: 60px;
                
            }
        }
        h3{
            margin: 0;
            padding: 0;
            width: 30%; 
            border: 1px solid grey;
            border-radius: 5px;
        }
        
        h4{
            width: 100%;
        }
        
         .delivery{
            display: inline-block;
            margin: 20px 0;
        }
        .deliveryblock{
            
            width: 80%;
            *{
                float: left;
                width: 50%;
                display: inline-block;
            }
            
        }
        .userBlock{
            display: inline-block;
            margin: 20px 0;
        }
    }
    .toTheleftSide{
        display: inline-block;
        float: right;
        width: 39%;
         * {
            display: inline-block;
            text-align: center;
        }
        h2{
            margin: 10px 0;
            text-align: center;
        }
        
        img{
            width: 15%;
            height: auto;
        }
        h3{
            float: right;
            margin-right: 20px;
        }
        .h3{
            margin-top: 20px;
        }

        
        .item{
            width: 100%;
            *{
                float: left;
            }
        } 
    }
    
    }
    .btn{
        @include btn;
        border:none;
        width: 150px;
    }}

    @media screen and (max-width: 770px) {
        .container{
            width: 100%;
            height: 100vh;
            display: inline-block;
            position: relative;
            
            .bothSides{
                width: 100%;
                border-bottom: 1px solid grey;
                display: flex;
                position: relative;
            .toTheRightSide{
                display: inline-block;
                float: left;
                width: 40%;
                
                
                 * {
                    width: 100%;
                    display: inline-block;
                    float: left;
                    text-align: center;
                    font-size: 15px;
                }
                
                span{
                    width: 50%;
                }
                .nameBlock{
                    width: 50%;
                    
                input{
                        width: 30%; 
                        border: 1px solid grey;
                        border-radius: 5px;
                        margin: 0;
                        padding: 0;
                        line-height: 35px;
                        font-size: 15px;
                    }
                   
                }
                
                
                .delivery{
                    display: inline-block;
                    margin: 20px 0;
                    width: 100%;
                 
                span{
                    width: 100%;
                    float: left;
                    display: inline-block;
                }
                h3{
                    width: 100%;
                    margin: 5px 0;
                    float: left;
                    display: inline-block;
                    border: none;
                }
                }
                .deliveryblock{
                    
                    width: 80%;
                    *{
                        float: left;
                        width: 50%;
                        display: inline-block;
                    }
                    
                }
                .userBlock{
                    display: inline-block;
                    margin: 20px 0;
                }
            }
            .toTheleftSide{
                display: inline-block;
                float: right;
                width: 59%;
                 * {
                    display: inline-block;
                    text-align: center;
                    font-size: 16px;
                }
                
                .h3{
                    margin-top:0;
                    font-size: 15px;
                }
         
            }
            
            }
            .btn{
                @include btn;
                border:none;
                width: 150px;
            }}
    }
    @media screen and (max-width: 420px) {
        .container{
            width: 100%;
            height: auto;
            display: inline-block;
            position: relative;
            
            .bothSides{
                width: 100%;
                border-bottom: 1px solid grey;
                display: flex;
                position: relative;
            .toTheRightSide{
                display: inline-block;
                float: left;
                width: 100%;
                
                
                 * {
                    width: 100%;
                    display: inline-block;
                    float: left;
                    text-align: center;
                    font-size: 15px;
                }
                
                span{
                    width: 50%;
                }
                .nameBlock{
                    width: 100%;
                    
                input{
                        width: 30%; 
                        border: 1px solid grey;
                        border-radius: 5px;
                        margin: 0;
                        padding: 0;
                        line-height: 35px;
                        font-size: 15px;
                    }
                   
                }
                
                
                 .delivery{
                    display: inline-block;
                    margin: 20px 0;
                    width: 100%;
                 
                span{
                    width: 100%;
                    float: left;
                    display: inline-block;
                }
                h3{
                    width: 100%;
                    margin: 5px 0;
                    float: left;
                    display: inline-block;
                    border: none;
                }
                }
                .deliveryblock{
                    
                    width: 80%;
                    *{
                        float: left;
                        width: 50%;
                        display: inline-block;
                    }
                    
                }
                .userBlock{
                    display: inline-block;
                    margin: 20px 0;
                }
            }
            .toTheleftSide{
                display: inline-block;
                float: left;
                width: 100%;
                 * {
                    display: inline-block;
                    text-align: center;
                    font-size: 16px;
                }
                
                .h3{
                    margin-top:0;
                    font-size: 15px;
                }
         
            }
            
            }
            .btn{
                @include btn;
                border:none;
                width: 150px;
            }}
    }