.container{
    display:inline-block;
    width: 90%;
    height: 250px;
    background-color: white;
    border-radius: 15px;
    position: relative;
    overflow: auto;

    .block{
        display: inline-block;
        width: 90%;
        position: relative;
        
        img{
            display: inline-block;
            width: 20%;
            height:auto;
            float: left;
            margin: 0;
            padding: 0;
        }
        .topBlock{
            display: inline-block;
            float: right;
            width: 70%;
            position: relative;
            *{
                display: inline-block;
                width: 100%;
                text-align: center;
                margin: 0;
                padding: 0;
            }
             h3{
               
                line-height: 20px; 
             }
             .size{
                 margin: 5px 0;
                line-height: 10px; 
             }
                
                .countmore{
                    display: inline-block;
                    float: left;
                    width: 100%;
                    padding-top: 10px;
            
                    *{
                        display: inline-block;
                        float: left;  
                        width: 20%;  
                    } 
                    .cost{
                        display: inline-block;
                        margin-left: 10px;
                        width: 30%;
                    }  
                
                .plusMinus{
                    font-size:80px;
                    border-radius: 5px;
                    background-color: white;
                    border: 1px solid orange;
                    cursor: pointer;
                    color:orange;
                    margin:0;
                    padding: 0;
                    width: 8%;

                }
            }
                
                span{
                    padding-bottom: 5px;
                    margin: 0;
                    margin-left: 4px;
                }
                .minus{
                    margin-left: 8px;
                }
                .plusMinus:hover{
                    background-color: orangered;
                    color: white;
                }
               
        }
        
    }
    
    
    .total{
        display: block;
        min-height: 50px;
        border-top: 1px solid grey;
    
    *{
        display: inline-block;
        float: left;
        height: 20px;
    }
        .sum{
            float: right;
        }
    }
}

 .container .pic img {
    width: 60%;
    height: auto;
}



