
nav{
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    text-align: center;
    position: relative;
    background-color: white;
    .link{
        text-decoration: none;
        padding: 20px;
        margin: 25px 0 0 0;
        user-select: none;
        font-weight: 500;
        color: black;
        height: 30px;
    
    .link:hover{
        background-color: rgb(228, 105, 57);   

    }}
    // .bagNav{
    //     display:flex;
    //     justify-content: space-between;
    //     width: 40%;
    //     margin: -20px 0 0 30%;
    //     .bagNavblock {
    //         display:flex;
    //         position: relative;
    //         span{
    //             width: 150px;
    //             position: absolute;
    //             top:65%;
    //             left: -50%;
    //         }
    //         .bagNavElement{
    //             border: 1px solid black;
    //             border-radius: 50%;
    //             padding: 7px 14px;
    //             height: 20px;
    //             margin-top: 30px;
    //         }
            
    //         .bagNavElement::before{
    //             border: 1px dashed lightgray;
    //             width:100px;
    //             content:'';
    //             display:inline-block;
    //             position: absolute;
    //             top: 50px;
    //             left: 60px;
    //         }
    //         .beforeLast::before{
    //             content:'';
    //             border: none;
    //             display: none;
    //         }
    //     }
    // }
    // .bagbtn:hover{
    //     background-color: rgb(228, 105, 57);   
    // }
        .active{
            color: #ff6900;
        }
    img{
            width: 35px;
            height: 40px;
            margin: 15px 0 0 200px;
    }
    .btn{
            display: inline-block;
            float: right;
            margin: 30px 10px;
            background-color: white;
            line-height: 25px;
            border-radius: 15px;
            cursor: pointer;
            width:100px;
            text-align: center;
            border: 1px solid grey;
            user-select: none;
    }
    .btn:hover{
            background-color: orange;
        }
    .dublicate{
        margin-left: 80px;
        line-height: 40px;
        height: 40px;
        border-radius: 5px;
        text-align: center;
        user-select: none;
        background-color: orange;
        color: white;
        width: 120px;
        padding: 10px;
        position: absolute;
        top:-20%;
        right: 10%;
    }
    // .dublicate{
    //     color: white;
    //     padding: 10px;
    //     height: 30px;
    //     border-radius: 5px;
    //     text-align: center;
    //     user-select: none;
    //     background-color: transparent;
    //     color: white;
    //     width: 120px;
    //     padding: 10px;
    //     position: absolute;
    //     top: 35%;
    //     right: 10%;
    //     z-index: 0.5;

    
    .showBag{
        z-index: 3;
        border-radius: 5px;
        color: black;
        min-height: 50px;
        width: 450px;
        position: absolute;
        top:65%;
        right: 10%;
        transition: 1s all;
        transform: scale(0) ;
        transform-origin: 100% 0%; 
    }
    
    
    .showBag * {
        max-width: 400px;
        position: static;
        margin: 10px 20px 5px 10px;
    }    
    // }
        .dublicate:hover + .showBag  {
            transform: scale(1);
          }
          .showBag:hover {
            transform: scale(1);
        }
          
    
    h1{
        display: inline-block;
        position: absolute;
        right: 50%;
        bottom: 0;
        margin: 0;
        padding: 0;
    }
}

